.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
bin/Debug/netcoreapp3.1/Yubaba.deps.json
bin/Debug/netcoreapp3.1/Yubaba.dll
bin/Debug/netcoreapp3.1/Yubaba.exe
bin/Debug/netcoreapp3.1/Yubaba.pdb
bin/Debug/netcoreapp3.1/Yubaba.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Yubaba.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Yubaba.csproj.nuget.dgspec.json
obj/Yubaba.csproj.nuget.g.props
obj/Yubaba.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Yubaba.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Yubaba.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Yubaba.assets.cache
obj/Debug/netcoreapp3.1/Yubaba.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Yubaba.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Yubaba.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Yubaba.dll
obj/Debug/netcoreapp3.1/Yubaba.exe
obj/Debug/netcoreapp3.1/Yubaba.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Yubaba.pdb
